@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Open Sans', sans-serif;
        @apply antialiased text-gray-800 bg-[#F9FAFB];
    }
}

@layer utilities {
    .animate-on-scroll {
        @apply opacity-0 translate-y-8 transition-all duration-1000 ease-out;
    }

    .animate-on-scroll.is-visible {
        @apply opacity-100 translate-y-0;
    }

    .delay-100 {
        transition-delay: 100ms;
    }

    .delay-200 {
        transition-delay: 200ms;
    }

    .delay-300 {
        transition-delay: 300ms;
    }
}